@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

:root {
  --darkblue: #084154;
  --blue: #3EC6E0;
  --silver: #EBEBEB;
  --white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.55;
  background-color: var(--white);
  color: var(--darkblue);
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 60px;
}

p { 
  font-size: 16px;
  line-height: 1.55;
}


/* Flexbox */
.flex-container {
  margin: 0 auto;
  display: flex;
}  
.center {
  justify-content: center;
}  
.items-center {
	align-items: center;
}
.content-center {  
	align-content: center;
}
.around {
	justify-content: space-around;
}
.between {
	justify-content: space-between;
}
.wrap {
	flex-wrap: wrap;
}
.item {
  margin: 0;
  padding: 0;
}







.btn-topo ul li,
.btn-padrao {
  text-transform: uppercase;
}


/* Botão padrão para compras */
.btn-padrao{
  background-color: var(--blue);
  color: var(--white);
  padding: 15px 70px;
  margin: 20px 60px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-padrao a {
  color: var(--white);
  font-weight: 500;
}

.btn-padrao:hover,
.btn-padrao:active {
  background-color: var(--darkblue);
}

.btn-padrao:visited {
    color: var(--white);
}




/* =======================
   SLIDER
 ======================= */  
#carousel {
  max-width: 1920px;
}

#carousel .carousel-item {
  position: relative;
}

.slider {
	position: relative;
  z-index: 10;
}

.slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider-content { 
  position: absolute;
  z-index: 30;
  top: 22%;
  width: 414px;
  height: auto;
  color: #fff;
}

.game-one{ 
  right: 22%;
  text-align: right;
}

.game-two {
  left: 22%;
  text-align: left;
}

.slider-content h3{
  color: var(--blue);
  text-transform: uppercase;
}

.slider-content h2,
.slider-content p {
  color: var(--white);
}

.slider-content h2 {
  font-size: 46px;
  font-weight: 900;
  text-transform: uppercase;
}

.slider-content h3 {
  font-size: 70px;
  font-weight: 900;
  margin-top: -20px;
  margin-bottom: 30px;
}

.slider-content sup {
  font-size: 28px;
  font-weight: 900;
}




/* =======================
  SETAS DO SLIDER
 ======================= */
.slick-arrow {
  position: absolute;
  z-index: 9;
  top: 50%;
  transform: translate3d(0, -50%, 0);

  /* estilos para ambos botões */
  width: 50px;
  padding: 10px;
  border: 1px solid var(--blue);
  color: #fff;
  background-color: var(--blue);
  cursor: pointer;
}

.slick-next {
  right: 10px;
}

.slick-prev {
  left: 10px;
}



/* =======================
MINI BANNER SEKIRO E ZELDA
 =======================  */
.mini-banner {
  max-width: 1920px;
  height: 340px;
}
.mini-banner img {
  width: 100%;
  height: auto;
}
.mini-banner figure {
  margin: 0;
  padding: 0 10px;
  position: relative;
  z-index: 300;
  top: -90px; 
}
.mini-banner figcaption {
  background-color: var(--blue);
  height: 61px;
  color: black;
  padding: 15px;
  margin-top: -8px;
  font-size: 20px;
  font-weight: 500;
}





/* =================
PRODUTOS EM DESTAQUE
 =================== */
 .destaques {
  max-width: 1200px;
  margin: 100px auto;
}

.img-title {
  margin-right: 20px;
}

.produto {
  width: 350px;
  margin: 0 10px;
  background-color: var(--silver);
  box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.produto h4 {
  font-size: 16px;
  text-align: left;
  height: 55px;
  padding: 10px 50px;
}

.produto p {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  padding: 10px 50px;
}

.produto img {
  margin: 0;
}

figcaption {
  border-top: 1px solid var(--blue);
  background-color: var(--silver);
}

/* Lightbox */
.lightbox {
  display: none;
}

.lightbox.active {
  position: fixed;
  left: 0;
  right: 0;
  top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox figcaption {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  width: 25rem;
  position: relative;
  z-index: 500;
  padding: 60px;
  background-color: white;
  width: 400px;
  height: 500px;
  border-radius: 5px;
  background-image: url(../img/image-6.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.lightbox .close {
  position: relative;
  top: -18px;
  right: 12px;
  z-index: 500;
  display: block;
}

.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(8,65,84,.62);
  content: "";
  cursor: default;
}






/* =================
  FOOTER
 =================== */

 footer {
  max-width: 1920px;
  width: 100%; 
}

.logo-footer {
  width: 547px;
  padding: 10px 20px 0px;
  background-color: var(--darkblue);
  text-align: right;
}

.logo-footer img {
  width: auto;
  height: 28px;
}

.direitos-footer {
  width: 1373px;
  padding: 10px 20px 0px;
  background-color: var(--blue);
  color: var(--white);
  text-align: left;
}